{% load rest_framework %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML to PDF</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Тест</h1>
    <form enctype="multipart/form-data" method="POST" target="_blank">
        {% csrf_token %}
        {% render_form serializer %}
        <input type="submit" value="Save">
    </form>
</body>
</html>
